<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjh.business.demo.article.mapper.ArticleMapper">

    <select id="selectOneObject" resultType="com.jjh.business.demo.article.model.Article">
        select * from article limit 1
    </select>

    <select id="cursorList" resultType="com.jjh.business.demo.article.model.Article" resultSetType="FORWARD_ONLY" fetchSize="-2147483648">
        select id, name, status, content, remark from article
        <where>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>


</mapper>
