package ${package}.model;

import lombok.Data;


import jakarta.persistence.Entity;
import jakarta.persistence.Table;

import static ${package}.model.${classEntity}.TABLE_NAME;

/**
 * ${tableComment}信息
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Entity
@Table(name = TABLE_NAME)
public class ${classEntity} extends AuditBaseEntity {

    public static final String TABLE_NAME = TABLE_PREFIX+"${classname}";


}
